version 5.216.0

group Core
  framework: auto-detect
  source https://api.nuget.org/v3/index.json
  storage: none
	
  nuget FSharp.Core ~> 4.6 redirects: force, lowest_matching: true
  nuget FSharp.JsonSkippable ~> 1 lowest_matching: true
  nuget Microsoft.FSharpLu.Json ~> 0.11.5 lowest_matching: true
  nuget Newtonsoft.Json ~> 12 lowest_matching: true


group AspNetCore
  framework: auto-detect
  source https://api.nuget.org/v3/index.json
  storage: none
  
  nuget FSharp.Core ~> 4.6 redirects: force, lowest_matching: true
  nuget Microsoft.AspNetCore.Http ~> 2.2 lowest_matching: true
  nuget Microsoft.AspNetCore.Http.Extensions ~> 2.2 lowest_matching: true


group Giraffe
  framework: auto-detect
  source https://api.nuget.org/v3/index.json
  storage: none
  
  nuget FSharp.Core ~> 4.6 redirects: force, lowest_matching: true
  nuget Giraffe ~> 3.6 lowest_matching: true


group Test
  framework: auto-detect
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core redirects: force
  nuget FSharp.Interop.Dynamic
  nuget Hedgehog
  nuget Hedgehog.Experimental
  nuget Microsoft.NET.Test.Sdk
  nuget Unquote
  nuget xunit.core
  nuget xunit.runner.visualstudio version_in_path: true
